.mail-list-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}
.mail-list-container p{
    font-size: 18px;
}
.mail-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}
.mail-box input{
    width: 300px;
    padding: 8px;
    border:none;
    background-color:yellowgreen;
    color:white;
    font-size: 16px;
}
.mail-box button{
    padding: 8px;
    width: 300px;
    color: white;
    background-color:blue;
    border: none;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;

}